* {
  box-sizing: border-box;
}

body
{
  margin: 0;
  margin-bottom: 10%;
  font-weight: normal;
  font-size: 100%;
}

body {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

.mySlides {
  display: center;
 width: 100%;
  height: 100%;


   width: 40%;

  padding: 0 0 10px 0;

  margin-right: 33%;
  margin-left: 33%;

}

.button{
  text-align: center;
 margin-right: 33%;
  margin-left: 33%;

}

.header {
  width: 100%;
  height: 100%;
  
  text-align: center;
  background-color: #eee;
  background-image: url(freepik__expand__68993.png);
  background-position: center;
  background-size: cover;

}

.hyper{

 margin-right: 33%;
 margin-top: 15%;
}

.header-title {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
}

.content{
 display: center;
  width: 100%;
  height: 100%;
 
  margin-top: 0;
  margin-bottom: 0;
  background-color: #2a2a2a;
  color: white;
  font-size: 100%;
}

.slideshow-container{
 display: center;
  height: 100%;
  display: center;
  margin-right: 4%;
  font-size: 70%;
}

.text {
  font-size: 18px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.footer {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;
  background-color: black;
}

.footer-author {
  margin: auto;
  height: 20%;
  color: white;
  font-weight: 800px;
  font-size: 10px;
  text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.button{
     display: center;
   width: 40%;

  padding: 0 0 10px 0;

  margin-right: 33%;
  margin-left: 33%;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}